    <footer id="footer">
      <div class="container">
        <blockquote id="quality">
          <p><span>&ldquo;</span>When something is personally important to you, you care about its details.  That is <em>exactly</em> why Pamela Kay lifestyle goods are <em>hand made ~ like you</em>.  Each material is meticulously chosen, and each cut and stitch precisely made.  The result is a unique signature of excellence in each&nbsp;product.<span>&rdquo;</span></p>

          <footer><a href="/pages/about/">Pamela Kay Mallari</a></footer>
        </blockquote>


        <section id="shopsmall">
          <a href="http://shopsmall.com/" target="_blank"><img src="{{ 'ShopSmall_Web_Badge_c.png' | asset_url }}" alt="Shop Small" title="Thank you for your support. #ShopSmall"></a>
        </section>


        <section id="credit">
          <h5>We accept the following credit cards.</h5>
          <img src="{{ 'badge-credit.png' | asset_url }}" alt="We accept Visa, MasterCard, American Express, and Discover Card.">
        </section>


        <section id="pci">
          <h5>This site meets all 6 categories of PCI security compliance&nbsp;standards.</h5>
          <a href="https://www.shopify.com/pci-compliant" target="_black"><img src="{{ 'badge-pci.png' | asset_url }}" alt="PCI DSS Compliant"></a>
        </section>


        <section id="tc">
          Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. All&nbsp;rights&nbsp;reserved.<br />
          <a href="/pages/privacy/">Privacy&nbsp;Policy</a> <span class="pipe"></span>
          <a href="/pages/terms/">Terms&nbsp;of&nbsp;Use</a> <span class="pipe"></span>
          <a href="/pages/returns/">Return&nbsp;Policy</a>
        </section>
      </div>
    </footer>
    <!--/#footer -->




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ 'functions.min.js' | asset_url }}"></script>
  </body>
</html>
