<header id="header">
  <div id="msg">Use promo code <strong>FREEDOM18</strong> for a 20% discount. Expires&nbsp;7/22/18.</div>

  <div id="account">
    <div id="login">
{% if shop.customer_accounts_enabled %}
  {% if customer %}
      Hello, {{ customer.first_name }}.  &nbsp;|&nbsp; <a href="/account/">My Account</a> &nbsp;|&nbsp; {{ 'Log Out' | customer_logout_link }}
  {% else %}
      <a href="#" data-toggle="modal" data-target="#login-modal">Log in</a>,
    {% if shop.customer_accounts_optional %}
      <a href="#" data-toggle="modal" data-target="#register-modal">create an account</a>,<br>
    {% endif %}
      or simply shop as our guest.
  {% endif %}
{% endif %}
    </div>
    <a href="/cart/" id="cart" title="You have {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }} {{ shop.currency }}) in your shopping bag."><div id="cart-items">{{ cart.item_count }}</div><div id="cart-amount">{{ cart.total_price | money }} {{ shop.currency }}</div></a>
  </div>

  <button id="hamburger-menu" class="toggle-hamburger-menu hover-animation-background"><span class="icon" alt="Menu" title="Menu"></span></button>
  <div id="branding"><a href="/"><img src="{{ 'logo_20171016.png' | asset_url }}" class="logo" alt="Pamela Kay | Hand Made ~ Like You" title="Pamela Kay | Hand Made ~ Like You"></a></div>
</header>
<!--/#header -->
